<form action="#">
  <div class="mt-2 grid gap-4 mb-4 sm:grid-cols-3">
    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Fecha Vto Documento(*)</label
      >

      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-4 h-4 text-body"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"
            />
          </svg>
        </div>
        <input
          id="datepicker-autohide"
          datepicker
          datepicker-autohide
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date"
        />
      </div>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >País Ciudadanía(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Seleccione país</option>
        <option value="publica">Guatemala</option>
      </select>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >País Nacimiento(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Seleccione país</option>
        <option value="publica">Guatemala</option>
      </select>
    </div>
  </div>

  <div class="mt-2 grid gap-4 mb-4 sm:grid-cols-3">
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Departamento(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Departamento</option>
        <option value="publica">Guatemala</option>
        <option value="publica">Chimaltenango</option>
        <option value="publica">Sacatepéquez</option>
        <option value="publica">El Progreso</option>
        <option value="publica">Escuintla</option>
      </select>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Municipio(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Municipio</option>
        <option value="publica">Acatenango</option>
        <option value="publica">Chimaltenango</option>
        <option value="publica">El Tejar</option>
        <option value="publica">Parramos</option>
        <option value="publica">Patzicía</option>
        <option value="publica">Patzún</option>
      </select>
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Etnia(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Seleccione Etnia</option>
        <option value="publica">Indígena</option>
        <option value="publica">Español</option>
        <option value="publica">Queqchí</option>
        <option value="publica">Pocomchí</option>
        <option value="publica">Kaqchíquel</option>
      </select>
    </div>

    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >No. Hijos(*)</label
      >
      <input
        type="number"
        name="username"
        id="username"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0"
        required=""
      />
    </div>
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >No. Dependientes(*)</label
      >
      <input
        type="number"
        name="email"
        id="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0"
        required=""
      />
    </div>

    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nivel educativo(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Seleccione nivel</option>
        <option value="publica">Sin Estudios</option>
        <option value="publica">Educación Primaria</option>
        <option value="publica">Educación Básica</option>
        <option value="publica">Educación Diversificada</option>
        <option value="publica">Universitaria y/o Ténico Univ</option>
        <option value="publica">Maestría, Postgraado y/o Doctora</option>
        <option value="publica">No Corresponde</option>
      </select>
    </div>
  </div>

  <div class="mt-2 grid gap-4 mb-4 sm:grid-cols-5">
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Profesión(*)</label
      >
      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Seleccione Profesion</option>
        <option value="publica">ABOGADO Y NOTARIO</option>
        <option value="publica">ADMINISTRADOR</option>
        <option value="publica">AGRICULTOR/A</option>
        <option value="publica">ALBAÑIL/MAESTRO DE OBRAS/CONS</option>
        <option value="publica">AMA DE CASA</option>
        <option value="publica">APICULTOR</option>
        <option value="publica">ARTESANO/A</option>
        <option value="publica">BACHILLER</option>
        <option value="publica">BARBERO/ESTILISTA/PELUQUERO/C</option>
        <option value="publica">BODEGUERO</option>
        <option value="publica">CARNICERO</option>
        <option value="publica">CODEUDOR</option>
        <option value="publica">COMERCIANTE</option>
        <option value="publica">CONTADOR</option>
        <option value="publica">DIGITADOR</option>
        <option value="publica">ECONOMISTA</option>
        <option value="publica">ELECTRICISTA</option>
        <option value="publica">EMPLEADO/A EN RELACION DE DEP</option>
        <option value="publica">ENDEREZADOR Y PINTURA</option>
        <option value="publica">ENFERMERO/A</option>
        <option value="publica">FARMACEUTICO</option>
        <option value="publica">FONTANERO</option>
        <option value="publica">FOTOGRAFO</option>
        <option value="publica">HERRERO/SOLDADOR</option>
        <option value="publica">ELECTRICISTA</option>
        <option value="publica">HOJALATERO</option>
        <option value="publica">INGENIERO CIVIL / SISTEMAS /</option>
        <option value="publica">JARDINERO</option>
        <option value="publica">JORNALERO</option>
        <option value="publica">JOYERO/PLATERO/RELOJERO</option>
        <option value="publica">JUBILADO</option>
        <option value="publica">LADRILLERO</option>
        <option value="publica">LIC. EN ADMINISTRACION DE EMP.</option>
        <option value="publica">MAESTRO/A</option>
        <option value="publica">MARROQUINERO</option>
        <option value="publica">MECÁNICO</option>
        <option value="publica">MÉDICO</option>
        <option value="publica">MESERO</option>
        <option value="publica">MODISTA/COSTURERA/SASTRE</option>
        <option value="publica">ODONTÓLOGO</option>
        <option value="publica">PANIFICADOR/A</option>
        <option value="publica">PELETERO</option>
        <option value="publica">PILOTO / CHOFER DE CARRO Y/O MO</option>
        <option value="publica">PINTOR DE CASAS, EDIFICIOS/DI</option>
        <option value="publica">PIROTÉCNICO</option>
        <option value="publica">SECRETARIA</option>
        <option value="publica">SERÍGRAFO</option>
        <option value="publica">TAPICERO</option>
        <option value="publica">TÉCNICO ELECTRÓNICO / RADIO T</option>
        <option value="publica">TEJEDOR/A</option>
        <option value="publica">TEJERO (TEJA)</option>
        <option value="publica">TENDERO</option>
        <option value="publica">TRABAJADOR SOCIAL</option>
        <option value="publica">TRACTORISTA</option>
        <option value="publica">VENDEDOR</option>
        <option value="publica">VETERINARIO</option>
        <option value="publica">ZAPATERO</option>
      </select>
    </div>

    <div>
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Inicio (*)
      </label>
      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-4 h-4 text-body"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"
            />
          </svg>
        </div>
        <input
          id="datepicker-autohide-2"
          datepicker
          datepicker-autohide
          type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Select date"
        />
      </div>
    </div>

    <div>
      <label
        for="email"
        class="ml-auto block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Lee (*)</label
      >

      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="publica">Sí</option>
        <option value="publica">No</option>
      </select>
    </div>

    <div>
      <label
        for="email"
        class="ml-auto block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Escribe (*)</label
      >

      <select
        id="tipo"
        name="tipo"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="publica">Sí</option>
        <option value="publica">No</option>
      </select>
    </div>

    <div>
      <label
        for="email"
        class="flex justify-center ml-auto mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >PEP (*)</label
      >

      <div class="flex justify-center">
        <input
          id="default-checkbox"
          type="checkbox"
          value=""
          class="text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
        />
      </div>
    </div>
  </div>
</form>
