<nav class="my-2" aria-label="breadcrumb">
  <ol class="flex items-center space-x-2 text-sm">
    <li><a routerLink="/" class="text-blue-600 hover:text-blue-800">Inicio</a></li>
    <li class="flex items-center">
      <span class="mx-2 text-gray-400">&gt;</span>
      <span class="text-gray-600">Aprobación</span>
    </li>
  </ol>
</nav>

<!-- Card principal -->
<div class="bg-white">
  <div class="flex items-start">
    <div class="flex flex-row items-center gap-6">
      <!-- Buscar por nombre -->
      <div class="items-center ps-4 bg-neutral-primary-soft flex my-1 grid-cols-2">
        <input
          type="radio"
          name="searchMode"
          value="nombre"
          [(ngModel)]="searchMode"
          class="w-4 h-4"
        />
        <label
          for="bordered-radio-2"
          class="py-1 select-none ms-2 text-sm font-medium text-heading"
        >
          Buscar por nombre
        </label>
      </div>

      <!-- Buscar por número -->
      <div class="items-center ps-4 bg-neutral-primary-soft flex my-1">
        <input
          type="radio"
          name="searchMode"
          value="documento"
          [(ngModel)]="searchMode"
          class="w-4 h-4"
        />
        <label
          for="bordered-radio-1"
          class="py-1 select-none ms-2 text-sm font-medium text-heading"
        >
          Buscar por número de documento
        </label>
      </div>
    </div>
  </div>

  <!-- FILA COMPLETA: Región + Agencia + campos dinámicos + botón -->
  <div class="mt-4 flex items-end gap-4 flex-wrap">
    <!-- SELECT REGIÓN -->
    <div class="min-w-[150px]">
      <label class="block mb-1 text-sm font-medium text-gray-900">Región</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">Seleccione</option>
        <option value="norte">Región 1</option>
        <option value="sur">Región 2</option>
        <option value="central">Región 3</option>
        <option value="occidente">Región 4</option>
        <option value="oriente">Región 5</option>
      </select>
    </div>

    <!-- SELECT AGENCIA -->
    <div class="min-w-[150px]">
      <label class="block mb-1 text-sm font-medium text-gray-900">Agencia</label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">Seleccione</option>
        <option value="norte">Chimaltenango</option>
        <option value="sur">La Antigua G.</option>
        <option value="central">San José Poaquil</option>
        <option value="occidente">San Juan Comalapa</option>
        <option value="oriente">Tecpán</option>
      </select>
    </div>

    <!-- CAMPOS CUANDO ES BUSCAR POR NOMBRE -->
    <div *ngIf="searchMode === 'nombre'" class="flex-1 min-w-[250px]">
      <label class="block mb-1 text-sm font-medium text-gray-900">Nombre</label>
      <input
        type="text"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Nombre y Apellidos / Empresa"
        #txtBuscar
        (input)="buscador.set(txtBuscar.value)"
        (keyup.enter)="fetchData()"
      />
    </div>

    <!-- CAMPOS CUANDO ES BUSCAR POR DOCUMENTO -->
    <ng-container *ngIf="searchMode === 'documento'">
      <!-- SELECT TIPO DOCUMENTO -->
      <div class="min-w-[180px]">
        <label class="block mb-1 text-sm font-medium text-gray-900">Tipo Documento</label>
        <select
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
        >
          <option value="">Seleccione un tipo</option>
          <option value="dpi">DPI</option>
          <option value="nit">NIT</option>
        </select>
      </div>

      <!-- INPUT DOCUMENTO -->
      <div class="min-w-[180px]">
        <label class="block mb-1 text-sm font-medium text-gray-900">Documento</label>
        <input
          type="number"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-blue-600 focus:border-blue-600"
          placeholder="Número de documento"
        />
      </div>
    </ng-container>

    <!-- BOTÓN BUSCAR -->
    <button
      type="button"
      (click)="fetchData()"
      class="bg-green-600 hover:bg-green-700 text-white px-6 py-2 rounded-md transition"
    >
      Buscar
    </button>
  </div>

  <div class="overflow-x-auto mt-4">
    <!-- Tabla -->
    <table class="min-w-full border border-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
          >
            #
          </th>
          <th
            class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
          >
            Nombre
          </th>
          <th
            class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
          >
            Documento
          </th>
          <th
            class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
          >
            Agencia
          </th>
          <th
            class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
          >
            Solicitudes
          </th>
        </tr>
      </thead>
      <tbody class="text-[0.85em]">
        @for (item of empresasList(); track item.empresaId; let i = $index) {
        <tr class="hover:bg-gray-50 border-b border-gray-200">
          <td class="px-4 py-2 text-center">{{ i + 1 }}</td>
          <td class="px-4 py-2">{{ item.nombre }}</td>
          <td class="px-4 py-2">{{ item.direccion }}</td>
          <td class="px-4 py-2">{{ item.nit }}</td>
          <td class="px-4 py-2 text-center flex justify-center gap-2">
            <!-- Edit button -->
            <button
              class="w-8 h-8 bg-orange-600 hover:bg-orange-800 text-white rounded transition-colors flex items-center justify-center"
              (click)="openModal()"
            >
              <lucide-icon [img]="FileUser" [size]="16" [strokeWidth]="1"></lucide-icon>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- aliados.component.html -->

  <!-- Modal -->
  <div
    *ngIf="showModal()"
    class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50"
  >
    <div class="bg-white rounded-xl shadow-xl w-[600px] p-6 relative">
      <!-- Botón cerrar -->
      <button class="absolute top-3 right-3 text-gray-600 hover:text-black" (click)="closeModal()">
        ✕
      </button>

      <!-- AQUÍ SE INSERTA TU COMPONENTE -->
      <app-gestion-aprobacion></app-gestion-aprobacion>
    </div>
  </div>
</div>
