<nav class="my-2" aria-label="breadcrumb">
  <ol class="flex items-center space-x-2 text-sm">
    <li><a routerLink="/" class="text-blue-600 hover:text-blue-800">Inicio</a></li>
    <li class="flex items-center">
      <span class="mx-2 text-gray-400">&gt;</span>
      <span class="text-gray-600">Asignación cuenta bancaria</span>
    </li>
  </ol>
</nav>

<!-- Card principal -->
<div class="bg-white rounded-lg shadow p-4 space-y-4">
  <!-- Fila Radios -->
  <div class="flex flex-wrap items-center gap-4 bg-neutral-primary-soft p-3 rounded">
    <!-- Radio Nombre -->
    <label class="flex items-center gap-2">
      <input
        type="radio"
        name="searchMode"
        value="nombre"
        [(ngModel)]="searchMode"
        class="w-4 h-4"
      />
      <span class="text-sm font-medium text-heading select-none"
        >Buscar por Empresa/Representante</span
      >
    </label>

    <!-- Radio Documento -->
    <label class="flex items-center gap-2">
      <input
        type="radio"
        name="searchMode"
        value="documento"
        [(ngModel)]="searchMode"
        class="w-4 h-4"
      />
      <span class="text-sm font-medium text-heading select-none"
        >Buscar por número de documento</span
      >
    </label>
  </div>

  <!-- Formulario de búsqueda -->
  <form class="flex flex-wrap gap-4 items-end">
    <!-- Contenedor flexible para inputs + botón -->
    <div class="flex flex-1 flex-wrap gap-4 items-end w-full">
      <!-- Input Nombre -->
      <div *ngIf="searchMode === 'nombre'" class="flex-1 min-w-[200px]">
        <label for="txtBuscar" class="block mb-2 text-sm font-medium text-gray-900"
          >Nombre Empresa</label
        >
        <input
          type="text"
          id="txtBuscar"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Empresa/Representante"
          #txtBuscar
          (input)="buscador.set(txtBuscar.value)"
          (keyup.enter)="fetchData()"
        />
      </div>

      <!-- Campos Documento -->
      <div
        *ngIf="searchMode === 'documento'"
        class="flex-1 min-w-[200px] grid gap-4 sm:grid-cols-2"
      >
        <!-- Tipo Documento -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Tipo Documento</label>
          <select
            id="tipo"
            name="tipo"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
          >
            <option value="">Seleccione un tipo</option>
            <option value="dpi">DPI</option>
            <option value="nit">NIT</option>
          </select>
        </div>

        <!-- Número de Documento -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Documento</label>
          <input
            type="number"
            id="documento"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
          />
        </div>
      </div>

      <!-- Botón Buscar -->
      <div class="self-end">
        <button
          type="button"
          (click)="fetchData()"
          class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded transition-colors"
        >
          Buscar
        </button>
      </div>
    </div>
  </form>
</div>

<div class="overflow-x-auto mt-4">
  <!-- Tabla -->
  <table class="min-w-full border border-gray-300">
    <thead class="bg-gray-50">
      <tr>
        <th
          class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          #
        </th>
        <th
          class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          Nombre
        </th>
        <th
          class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          NIT
        </th>
        <th
          class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody class="text-[0.85em]">
      @for (item of empresasList(); track item.empresaId; let i = $index) {
      <tr class="hover:bg-gray-50 border-b border-gray-200">
        <td class="px-4 py-2 text-center">{{ i + 1 }}</td>
        <td class="px-4 py-2">{{ item.nombre }}</td>
        <td class="px-4 py-2">{{ item.direccion }}</td>

        <td class="px-4 py-2 text-center flex justify-center gap-2">
          <!-- Edit button -->
          <button
            class="w-8 h-8 bg-lime-600 hover:bg-lime-800 text-white rounded transition-colors flex items-center justify-center"
            (click)="openModal()"
          >
            <lucide-icon [img]="FileText" [size]="16" [strokeWidth]="1"></lucide-icon>
          </button>
          <button
            class="w-8 h-8 bg-amber-600 hover:bg-amber-800 text-white rounded transition-colors flex items-center justify-center"
            (click)="openModal_1()"
          >
            <lucide-icon [img]="FilePen" [size]="16" [strokeWidth]="1"></lucide-icon>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- aliados.component.html -->

<!-- Modal -->
<div
  *ngIf="showModal()"
  class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-xl shadow-xl w-[600px] p-6 relative">
    <!-- Botón cerrar -->
    <button class="absolute top-3 right-3 text-gray-600 hover:text-black" (click)="closeModal()">
      ✕
    </button>

    <!-- AQUÍ SE INSERTA TU COMPONENTE -->
    <app-upsert-cuenta-bancaria></app-upsert-cuenta-bancaria>
  </div>
</div>

<div
  *ngIf="showModal_1()"
  class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-xl shadow-xl w-[600px] p-6 relative">
    <!-- Botón cerrar -->
    <button class="absolute top-3 right-3 text-gray-600 hover:text-black" (click)="closeModal_1()">
      ✕
    </button>

    <!-- AQUÍ SE INSERTA TU COMPONENTE -->
    <app-upsert-asigna-cuenta></app-upsert-asigna-cuenta>
  </div>
</div>
