<nav class="my-2" aria-label="breadcrumb">
  <ol class="flex items-center space-x-2 text-sm">
    <li><a routerLink="/" class="text-blue-600 hover:text-blue-800">Inicio</a></li>
    <li class="flex items-center">
      <span class="mx-2 text-gray-400">&gt;</span>
      <span class="text-gray-600">Asignación cuenta bancaria</span>
    </li>
  </ol>
</nav>

<!-- Card principal -->
<div class="bg-white">
  <div class="flex items-start">
    <div class="flex flex-col">
      <!-- Buscar por nombre -->
      <div class="items-center ps-4 bg-neutral-primary-soft flex my-1">
        <input
          type="radio"
          name="searchMode"
          value="nombre"
          [(ngModel)]="searchMode"
          class="w-4 h-4"
        />
        <label
          for="bordered-radio-2"
          class="py-1 select-none ms-2 text-sm font-medium text-heading"
        >
          Buscar por Empresa/Representante
        </label>
      </div>

      <!-- Buscar por número -->
      <div class="items-center ps-4 bg-neutral-primary-soft flex my-1">
        <input
          type="radio"
          name="searchMode"
          value="documento"
          [(ngModel)]="searchMode"
          class="w-4 h-4"
        />
        <label
          for="bordered-radio-1"
          class="py-1 select-none ms-2 text-sm font-medium text-heading"
        >
          Buscar por número de documento
        </label>
      </div>
    </div>

    <!-- Botón a la derecha 
    <button
      class="ml-auto mask-radial-at-right bg-blue-600 hover:bg-blue-700 text-white text-sm px-4 py-2 rounded transition-colors"
      (click)="openModal()"
    >
      Crear Empresa
    </button>-->
  </div>

  <div class="p-6">
    <form class="flex flex-wrap gap-3 items-end">
      <!-- INPUT NOMBRE: solo visible cuando searchMode === 'nombre' -->
      <div *ngIf="searchMode === 'nombre'" class="flex-1 min-w-[200px]">
        <label for="txtBuscar" class="sr-only">Nombre Empresa</label>
        <input
          type="text"
          id="txtBuscar"
          class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Empresa/Representante"
          #txtBuscar
          (input)="buscador.set(txtBuscar.value)"
          (keyup.enter)="fetchData()"
        />
      </div>

      <!-- CAMPOS DOCUMENTO: select + input -->
      <div *ngIf="searchMode === 'documento'" class="w-full grid gap-4 sm:grid-cols-2">
        <!-- Tipo Documento -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Tipo Documento</label>
          <select
            id="tipo"
            name="tipo"
            class="ml-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
          >
            <option value="">Seleccione un tipo</option>
            <option value="dpi">DPI</option>
            <option value="nit">NIT</option>
          </select>
        </div>

        <!-- Número de Documento -->
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900">Documento</label>
          <input
            type="number"
            id="documento"
            class="ml-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
          />
        </div>
      </div>

      <!-- Botón Buscar -->
      <div>
        <button
          type="button"
          (click)="fetchData()"
          class="ml-auto bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded transition-colors"
        >
          Buscar
        </button>
      </div>
    </form>
  </div>
</div>
<div class="fixed top-4 right-4 space-y-2 z-50" id="toast-container"></div>

<div class="overflow-x-auto mt-4">
  <!-- Tabla -->
  <table class="min-w-full border border-gray-300">
    <thead class="bg-gray-50">
      <tr>
        <th
          class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          #
        </th>
        <th
          class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          Nombre
        </th>
        <th
          class="text-left px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          NIT
        </th>
        <th
          class="text-center px-4 py-2 border-b border-gray-300 text-sm font-semibold text-gray-700"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody class="text-[0.85em]">
      @for (item of empresasList(); track item.empresaId; let i = $index) {
      <tr class="hover:bg-gray-50 border-b border-gray-200">
        <td class="px-4 py-2 text-center">{{ i + 1 }}</td>
        <td class="px-4 py-2">{{ item.nombre }}</td>
        <td class="px-4 py-2">{{ item.direccion }}</td>

        <td class="px-4 py-2 text-center flex justify-center gap-2">
          <!-- Edit button -->

          <button
            class="bg-blue-600 text-white p-2 rounded flex items-center gap-2"
            (click)="procesarImpresion(i)"
          >
            <ng-container *ngIf="!isPrinting[i]; else spinnerBlue">
              <lucide-icon [img]="PrinterCheck" [size]="16" [strokeWidth]="1"></lucide-icon>
            </ng-container>

            <i class="bi bi-printer"></i>

            <!-- SPINNER SOLO PARA ESTA FILA -->
            <ng-template #spinnerBlue>
              <svg
                *ngIf="isPrinting[i]"
                class="animate-spin h-5 w-5 text-white"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                  fill="none"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8v4l3-3-3-3v4a12 12 0 00-12 12h4z"
                ></path>
              </svg>
            </ng-template>
          </button>

          <!-- INPUT OCULTO POR FILA -->
          <input type="file" #fileInput class="hidden" (change)="archivoSeleccionado($event, i)" />

          <!-- BOTÓN NARANJA -->
          <button
            class="w-8 h-8 bg-amber-600 hover:bg-amber-800 text-white rounded transition-colors flex items-center justify-center"
            (click)="fileInput.click()"
          >
            <ng-container *ngIf="!isUploading[i]; else spinnerOrange">
              <lucide-icon [img]="FileUp" [size]="16" [strokeWidth]="1"></lucide-icon>
            </ng-container>
          </button>

          <!-- SPINNER DEL BOTÓN NARANJA -->
          <ng-template #spinnerOrange>
            <svg class="animate-spin h-5 w-5 text-white" viewBox="0 0 24 24">
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
                fill="none"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4l3-3-3-3v4a12 12 0 00-12 12h4z"
              ></path>
            </svg>
          </ng-template>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
