<form action="#">
  <h3 class="section-title">Información de Contacto</h3>

  <div class="mt-2 grid gap-4 mb-4 sm:grid-cols-3">
    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-700" for="nombre">
        Teléfono Celular <span class="text-red-600">*</span>
      </label>
      <input
        id="nombre"
        name="nombre"
        type="number"
        class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Número de teléfono"
        required
      />
    </div>

    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-700" for="nombre">
        Teléfono Fijo
      </label>
      <input
        id="nombre"
        name="nombre"
        type="number"
        class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Número de teléfono"
        required
      />
    </div>

    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-700" for="nombre">
        Correo Electrónico
      </label>
      <input
        id="nombre"
        name="nombre"
        type="text"
        class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Correo electrónico"
        required
      />
    </div>
  </div>

  <h3 class="section-title">Datos del Domicilio</h3>

  <div class="mt-2 grid gap-4 mb-4 sm:grid-cols-4">
    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-900" for="pais">
        País Domicilio <span class="text-red-600">*</span>
      </label>
      <select
        id="pais"
        name="pais"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">País</option>
        <option value="GT">Guatemala</option>
      </select>
    </div>

    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-900" for="departamento">
        Departamento <span class="text-red-600">*</span>
      </label>
      <select
        id="departamento"
        name="departamento"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">Departamento</option>
        <option>Chimaltenango</option>
        <option>Sacatepéquez</option>
        <option>Escuintla</option>
        <option>Cobán</option>
      </select>
    </div>

    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-900" for="municipio">
        Municipio<span class="text-red-600">*</span>
      </label>
      <select
        id="municipio"
        name="municipio"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">Municipio</option>
        <option>Chimaltenango</option>
        <option>Tecpán</option>
        <option>Parramos</option>
        <option>Acatenango</option>
      </select>
    </div>

    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-900" for="zona">
        Zona
      </label>
      <select
        id="zona"
        name="zona"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
      >
        <option value="">Zona</option>
        <option>Zona 1</option>
        <option>Zona 2</option>
        <option>Zona 3</option>
        <option>Zona 4</option>
      </select>
    </div>
  </div>

  <div class="mt-0 grid gap-4 mb-4 sm:grid-cols-1">
    <div>
      <label class="block h-10 flex items-end text-sm font-medium text-gray-700" for="direccion">
        Dirección Completa <span class="text-red-600">*</span>
      </label>
      <input
        id="direccion"
        name="direccion"
        type="text"
        class="w-full px-3 py-2 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        placeholder="Dirección"
        required
      />
    </div>
  </div>
</form>
