<div class="mt-6">
  <form action="#">
    <div class="mt-6 grid gap-4 mb-4 sm:grid-cols-2">
      <div>
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Primer Apellido</label
        >
        <input
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Primer apellido"
          required=""
        />
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Segundo Apellido</label
        >
        <input
          type="text"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Segundo apellido"
          required=""
        />
      </div>
    </div>
    <div class="mt-4">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Apellido Casada</label
      >
      <input
        type="text"
        name="username"
        id="username"
        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Apellido de casada"
        required=""
      />
    </div>
    <div class="mt-6 grid gap-4 mb-4 sm:grid-cols-2">
      <div>
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Primer Nombre</label
        >
        <input
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Primer nombre"
          required=""
        />
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Segundo Nombre</label
        >
        <input
          type="text"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Segundo nombre"
          required=""
        />
      </div>
    </div>
    <div class="mt-4">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tercer Nombre</label
      >
      <input
        type="text"
        name="username"
        id="username"
        class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Tercer Nombre"
        required=""
      />
    </div>
    <div class="mt-6 grid gap-4 mb-4 sm:grid-cols-3">
      <div>
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Fecha de Nacimiento</label
        >
        <div class="relative max-w-sm">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
              />
            </svg>
          </div>
          <input
            datepicker
            id="default-datepicker"
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Select date"
          />
        </div>
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Sexo</label
        >

        <select
          id="tipo"
          name="tipo"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="">Seleccione el sexo</option>
          <option value="publica">Masculino</option>
          <option value="privada">Femenino</option>
        </select>
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Estado Civil</label
        >
        <select
          id="tipo"
          name="tipo"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option value="">Seleccione el sexo</option>
          <option value="publica">Soltero/a</option>
          <option value="privada">Casado/a</option>
          <option value="publica">Unión de hecho</option>
          <option value="privada">Solvero/a por viudez</option>
          <option value="publica">Divorciado/a</option>
          <option value="privada">Otros</option>
        </select>
      </div>
    </div>
  </form>
</div>
